:root{
    --base: #ff6600;
    --spacing: 10px;
    --blur: 2px;
}

body{
    background-color: rgba(245, 165, 111, 0.979);
    padding: 25px;
    text-align: center;

}
.main{
    margin-bottom: 50px;
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
